<!DOCTYPE html>
<html lang="en">
<head>
  <title>Menu Page</title>
</head>

<%- include('partials/_header') -%>
<body>

<div class="cart-head">
  <h2 class="cart-title">Your Cart</h2>
</div>
<div class="cart-body">
  <!-- if items are added -->
  <ul class="cart-item-container">




    <li> <span class="cart-item-quantity"></span>
      <span class="cart-item"></span>
      <span class="cart-item-cost_item"></span>
    </li>


  </div>

<div class="cart-footer">
  <div class="cart-total">
    <p>Subtotal: </p>
    <p>Tax: </p>
    <p>Total: </p>

  </div>
  <!--need to change-->
  <form action="/menu/id" method="post">

    <input type="hidden" id="id" name="id" value="">
    <input type="hidden" id="total" name="total" value="">
    <input type="hidden" id="order_time" name="order_time" value="">
    <button type="submit" class="checkout">Checkout</button>
  </form>
</div>


</body>

