<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>

<%- include('partials/_header') %>

<body>
  <h1>Welcome to DRT Restaurant</h1>
  <img src="https://i.pinimg.com/originals/71/0a/26/710a26d2c8b24b71f99d4714bce66225.png" alt="food-logo">
</body>
</html>

