@import url("menu.scss");

body {
  background-color: #e9d8a6;
}


.card-body {
  background-color: #e9d8a6;
}

.social-icon {
  margin: 20px 10px;
}

.social-icon:hover {
 color: #ff4c68;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.btn {
  margin: 5% 3% 5% 0;
}

.card {
  color: #e6ccb2;
}
