#order-container {
  width: 30vw;
  height: 80vh;
  margin-left: 5em;
  position: fixed;
  right: 0.3em;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.order-header {
  height: 4em;
  padding: 1em;
  background-color: #e9d8a6;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.item-list {
  width: 94%;
  height: 17em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-table {
  table-layout: fixed;
  margin: 0.2em;
}

.item-name {
  width: 60%;
}

.quantity {
  width: 20%;
  text-align: right;
}

.price {
  width: 20%;
  text-align: right;
}


.order-footer {
  width: 30vw;
  height: 20vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}



.order-button {
  margin: 0.5em;
  // position: fixed;
  bottom: 0;
  margin-left: auto;
}



#clear-cart {
  background-color: clear;
  display: flex;
  align-items: center;
}

#place-order{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button#clear-cart {
  margin-left: 40px;
}
